.footer{
  background: var(--color-darkest);
  padding: 1rem 2rem;
  margin-top: .5rem;
  align-items: center;
  color: var(--color-light);
  display: flex;
  justify-content: space-between;

  &__logo {
    height: 1.8rem;
  }

  &__mention{
    display: flex;
    align-items: center;
    font-size: 0.6rem;
    width: 10rem;
  }

  &__menu {
    display: flex;
    justify-content: end;
    gap: 1.5rem;
  }
}