.player {
  background: var(--color-darkest);
  color: var(--color-light);

  padding: 5rem 4rem;

  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: repeat(3, auto);
  gap: 3rem;

  grid-template-areas:
      "expl avatar"
      "category name"
      "defi defi";


  //------------- titre & explications ----------------
  &__explication {
    //border: 2px solid yellow;
    grid-area: expl;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    p {
      margin: 0;
    }
  }

  &__title {
    font-size: 4rem;
    font-weight: 800;
    margin: 0;
    margin-bottom: 0.5rem;
  }

  &__description {
    font-family: var(--font-primary-italic);
    font-weight: 300;
    font-size: 1.4rem;
  }

  &__label {
    font-family: var(--font-primary-italic);
    font-size: 1.1rem;
    color: grey;
  }

  //------------------ catégories ---------------------
  &__categories {
    grid-area: category;
    display: flex;
    padding-block: 1rem;
    border-top: 1px dashed grey;
    border-bottom: 1px dashed grey;
    gap: 0.4rem;
  }

  &__category {
    display: inline-flex;
    align-items: center;
    border-radius: 50px;
    border: none;
    padding: 5px;
    gap: 0.8rem;

    .btn-label {
      max-width: 0;
      overflow: hidden;
      white-space: nowrap;
      opacity: 0;
    }

    &-action {
      background-color: rgb(from var(--color-action) r g b / 0.8);
    }
    &-comedie {
      background-color: rgb(from var(--color-comedie) r g b / 0.8);
    }
    &-drame {
      background-color: rgb(from var(--color-drame) r g b / 0.8);
    }
    &-sf {
      background-color: rgb(from var(--color-sf) r g b / 0.8);
    }
    &-horreur {
      background-color: rgb(from var(--color-horreur) r g b / 0.8);
    }
    &-anim {
      background-color: rgb(from var(--color-anim) r g b / 0.8);
    }
    &-class {
      background-color: rgb(from var(--color-class) r g b / 0.8);
    }
    &-cultes {
      background-color: rgb(from var(--color-cultes) r g b / 0.8);
    }
    &-aleatoire {
      background-color: rgb(from grey r g b / 0.8);
    }
    &-all {
      background-color: rgb(from white r g b / 0.8);
    }
  }

  &__icon {
    width: 30px;
    aspect-ratio: 1;
    background-image: url("../images/elts/icon/dark.svg");
    background-size: calc(354px * 0.8) auto;
    border-radius: 100%;

    &-action {
      background-position: -15px, 27px;
      background-color: var(--color-action);
    }
    &-comedie {
      background-position: -47px, 27px;
      background-color: var(--color-comedie);
    }
    &-drame {
      background-position: -79px, 27px;
      background-color: var(--color-drame);
    }
    &-sf {
      background-position: -111px, 27px;
      background-color: var(--color-sf);
    }
    &-horreur {
      background-position: -143px, 27px;
      background-color: var(--color-horreur);
    }
    &-anim {
      background-position: -175px, 27px;
      background-color: var(--color-anim);
    }
    &-class {
      background-position: -207px, 27px;
      background-color: var(--color-class);
    }
    &-cultes {
      background-position: -239px, 27px;
      background-color: var(--color-cultes);
    }
    &-aleatoire {
      background-image: none;
      background-color: grey;
    }
    &-all {
      background-image: none;
      background-color: white;
    }
  }



  //---------------------- name -----------------------
  &__name {
    //border: 1px solid red;
    grid-area: name;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    label {
      font-family: var(--font-primary-italic);
      color: grey;
      font-size: 1.2rem;
    }

    input {
      border: none;
      border-bottom: 1px solid grey;
      background: none;
      height: 2.5rem;

      &::placeholder {
        color: var(--color-light);
        font-size: 1.5rem;
        font-weight: 300;
      }
    }
  }


  //--------------------- avatar ----------------------
  &__avatar {
    //border: 1px solid blue;
    grid-area: avatar;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 0.2fr 0.3fr 2fr;
    gap: 1.5rem;

    &-title {
      grid-column: span 2;
      //border: 1px solid pink;
      font-size: 1.6rem;
      font-family: var(--font-primary-italic);
      font-weight: 500;
      margin: 0;
    }
  }

  &__color {
    //border: 1px solid pink;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-family: var(--font-primary-italic);
    color: grey;
    font-size: 0.8rem;
    margin-inline-start: 2rem;

    &-red {
      width: 25px;
      height: 25px;
      background-color: rgb(255, 80, 98);
      border-radius: 100%;
    }
    &-blue {
      width: 25px;
      height: 25px;
      background-color: rgb(36, 204, 255);
      border-radius: 100%;
    }
    &-light {
      width: 25px;
      height: 25px;
      background-color: rgb(255, 211, 211);
      border-radius: 100%;
    }
  }
  
  &__perso {
    //border: 1px solid red;
    width: 275px;
    height: 300px;
    background-image: url("../images/avatar/ghoster-red.svg");
    background-position: -9px -1px;
    grid-row: -2;
    margin-inline-start: 2rem;
  }

  &__customize {
    //border: 1px solid green;
    grid-row: span 2;

    font-family: var(--font-primary-italic);
    color: grey;
    font-size: 0.8rem;

    display: flex;
    flex-direction: column;
    margin-inline-start: 2rem;
    gap: 0.7rem;
  }

    .mood__grid {
      display: flex; 
      flex-direction: column;
      gap: 2.5rem;
    }

    &__mood {
      //border: 1px dashed grey;
      opacity: 0.5;
      width: 48px;
      height: 53px;
      background-image: url("../images/avatar/ghoster-red.svg");
      background-size: calc(294px * 0.18);

      &-bad {
       background-position: -3px -2px;
      }
      &-neutral {
       background-position: -3px -106px;
      }
      &-good {
         background-position: -3px -55px;
      }
      &-verygood {
       background-position: -3px -158px;
      }
    }
  



//----------------------- defi ------------------------
  &__defi {
    grid-area: defi;
    display: flex;
    flex-direction: column;

    &--value {

      height: 5rem;
      background: var(--color-light);
    }
    &--btn {
      //height: 3.5rem;
      background: linear-gradient(0deg, #c27c0c 0%, #ffd323 100%);
      color: var(--color-dark);
      font-weight: 700;
      font-size: 1.1rem;
    }
  }


}

