:root {
  //------ colors --------------
  --color-light: #e3d9c7;
  --color-dark: #252525;
  --color-darkest: #1b1b1b;
  --color-primary: rgb(255, 197, 24);
  --color-secundary: rgb(243, 58, 77);

  //------ color category-------
  --color-action: rgb(236, 119, 129);
  --color-comedie: rgb(130, 236, 183);
  --color-drame: rgb(215, 143, 248);
  --color-sf: rgb(127, 121, 220);
  --color-horreur: rgb(82, 177, 255);
  --color-anim: rgb(231, 160, 101);
  --color-class: rgb(149, 201, 100);
  --color-cultes: rgb(229, 207, 134);


  //------ font ----------------
  --font-primary: "rubik";
  --font-primary-italic: "rubik_italic";
  --font-secundary: "barrio";


}