:root {
  //------ colors --------------
  --color-light: #fff4e1;
  --color-dark: #252525;
  --color-darkest: #1b1b1b;
  --color-primary: rgb(255, 197, 24);
  --color-secundary: rgb(243, 58, 77);

  //------ color category-------
  --color-action: rgb(236, 119, 129);
  --color-comedie: rgb(119, 236, 177);
  --color-drame: rgb(198, 73, 255);
  --color-sf: rgb(73, 60, 255);
  --color-horreur: rgb(82, 177, 255);
  --color-anim: rgb(255, 145, 56);
  --color-class: rgb(171, 255, 92);
  --color-cultes: rgb(255, 212, 69);


  //------ font ----------------
  --font-primary: "rubik";
  --font-primary-italic: "rubik_italic";
  --font-secundary: "barrio";


}